*{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h1{
    background-color: black;
    color:white;
    font-weight: bolder;
    padding: 10px;
    border: 2px solid blue;
    margin-bottom: 70px;
}

p{
    font-weight:bolder;
    font-size: xx-large;
}

img{
    height: auto;
    width: 500px;
    margin:0 0 70px 0;
}

.link-button{
   background-color:lightpink;
   color:black;
   font-weight:800;
   font-size:large;
   padding: 7px;
}
